.App {
  text-align: center;
}

.full-page {
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: height 1s;
}

.bg-teal {
  background-color: teal;
}

.visible {
  height: 100vh;
}

.start-btn {
  width: 150px;
  height: 45px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 25px;
  transition: background-color 0.5s;
}

.start-btn:hover {
  cursor: pointer;
  background-color: thistle;
}

.title {
  color: #444;
  margin-bottom: 20px;
}

.pizza-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 560px;
  flex-wrap: wrap;
}

.pizza-item {
  color: #666;
  border: 1px dashed #aaa;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 8px 12px;
  transition: color 0.3s, background-color 0.3s;
}

.pizza-item.selected {
  background-color: #aaa;
  color: #fff;
}

.pizza-item:hover {
  cursor: pointer;
  background-color: #aaa;
  color: #fff;
}

.navigation-container {
  width: 720px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
}

.nav-btn {
  height: 40px;
  min-width: 90px;
  padding: 0 10px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
  transition: background-color 0.3s;
}

.nav-btn.next {
  background-color: #aaa;
  border-color: #aaa;
  color: #fff;
}

.nav-btn.back {
  color: #999;
}

.nav-btn:hover {
  cursor: pointer;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s;
}

.section.visible {
  height: auto;
  max-height: 300px;
}

.error-label {
  font-size: 15px;
  color: red;
  font-style: italic;
  text-align: center;
  max-width: 300px;
  font-weight: 400;
}

.counter-container {
  display: flex;
}

.counter-btn {
  background: transparent;
  border: none;
  color: #aaa;
  font-size: 45px;
}

.counter-btn:hover {
  cursor: pointer;
}

.counter {
  font-size: 40px;
  font-weight: 600;
  color: #666;
  margin: 0 15px;
}

.order-items-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-block-start: 0.2em;
  padding-inline-start: 0;
}

.order-item {
  width: 450px;
  height: 60px;
  border: 1px dashed #aaa;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 8px;
}

.order-item > .name {
  font-size: 18px;
  color: #666;
  max-width: 380px;
  text-align: left;
}

.order-item button {
  height: 30px;
  border-color: #fff;
  background: #fff;
  color: #666;
  font-weight: 600;
  border-radius: 8px;
  font-size: 10px;
  letter-spacing: 1.5px;
  display: none;
  transition: transform 0.3s;
  margin-left: 10px;
}

.order-item button:hover {
  transform: scale(1.05);
}

.order-item:hover {
  background-color: #aaa;
  color: #fff;
}

.order-item:hover .name {
  color: #fff;
}

.order-item:hover button {
  display: inline-block;
  cursor: pointer;
}

.customer-info {
  border: none;
  width: 100%;
  max-width: 600px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 18px;
}

.confirmation-container {
  max-width: 560px;
}

.confirmation-container.success {
  color: #889e81;
}

.confirmation-container.error {
  color: #c9753d;
}
